.row{
    display: flex;
}

.rowimg{
    display: flex;
    justify-content: center;
}

.rowMsg{
    display: flex;
    justify-content: end;
    font-size: 0.8em;
    font-weight: bold;
}

.rowimg img{
    height: 150px;
}

.col{
    width: 50%;
    padding: 20px;
}

.form-group{
    display: flex;
    align-items: center;
}

.form-group label{
    padding-right: 10px;
    width: 25%;
}

.form-group input[type='range']{
    padding-right: 10px;
    width: 65%;
}

.form-group span{
    padding-left: 10px;
}

.title{
    text-align: center;
    width: 100%;
}

div#buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

div#buttons .btn:first-child{
    margin-right: 20px;
}